# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Environment files
*.env

# Build / distribution
build/
dist/
*.egg-info/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Cache
.cache/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Datasets
DeepFashion-MultiModal/
image/
parsing/
keypoints/
DensePose/
labels/
textual descriptions/
